@charset "UTF-8";

/* ESTILO DE BOTÕES */

.btn
{
    background-color: #F26D26;
    color: white;
    padding: 10px;
    border: .5px solid #A03800;
    border-radius: 5px;
    transition: background-color .4s;
}

#up
{
    background-image: url("../_imagens/icon_arrow_up.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

#prev
{
    background-image: url("../_imagens/icon_arrow_left.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

#next
{
    background-image: url("../_imagens/icon_arrow_right.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

#search
{
    background-image: url("../_imagens/icon_search_lookup.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.btn:hover
{
    background-color: #A03800;
}

/* ESTILO DE LABELS */

.lbl
{
    font-size: 12pt;
    margin: 2px;
}

/* ESTILO DE INPUT TEXT */

.txt_pequeno
{
    width: 100px;
    height: 20px;
    padding: 5px;
    border: 1px solid #F26D26;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
}

.txt_pequeno:focus
{
    box-shadow: 0px 0px 10px #F26D26;
}

.txt_medio
{
    width: 200px;
    height: 20px;
    padding: 5px;
    border: 1px solid #F26D26;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
}

.txt_medio:focus
{
    box-shadow: 0px 0px 10px #F26D26;
}

.txt_grande
{
    width: 300px;
    height: 20px;
    padding: 5px;
    border: 1px solid #F26D26;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
}

.txt_grande:focus
{
    box-shadow: 0px 0px 10px #F26D26;
}

.txt_extra_grande
{
    width: 500px;
    height: 20px;
    padding: 5px;
    border: 1px solid #F26D26;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
}

.txt_extra_grande:focus
{
    box-shadow: 0px 0px 10px #F26D26;
}

select
{
    width: 200px;
    padding: 5px;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
}

select:focus
{
    box-shadow: 0px 0px 10px #F26D26;
}

textarea
{
    border: 1px solid #F26D26;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    padding: 5px;
}

textarea:focus
{
    box-shadow: 0px 0px 10px #F26D26;
}
